.form {
  background-color: rgba(255, 255, 255, 1);
  min-width: 30rem;
  width: 30rem;
  border-radius: 12px;
  height: 45rem;
  padding: 4.5rem 3.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1); /* Horizontal offset, vertical offset, blur radius, color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.form h4 {
  font-size: 1rem;
  text-align: center;
}

.form label {
  display: flex;
  flex-direction: column;
  color: #686868;
  width: 47.5%;
  font-size: 0.75rem;
  border-radius: 12px;

  padding: 0.5rem 1rem;
}

.form label,
.form input {
  background-color: #eaeaec;
}

.form input {
  outline: none;
  color: black;
  font-size: 1rem;
}

@media only screen and (max-width: 750px) {
  .tick-text {
    font-size: 0.65rem !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .checkbox-cont {
    background: url(../Game/assets/mockup.png);
    gap: 0 !important;
    height: 7rem !important;
  }

  .form-checkbox-preview {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;

    width: 37.5% !important;
    object-fit: cover !important;
  }

  .text-privacy-policy {
    font-size: 0.55rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    padding: 3rem 2.5rem;
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .form {
    padding: 2.5rem 2rem;
    width: 65%;
  }
}

@media only screen and (max-width: 400px) {
  .form {
    width: 62.5%;
  }
}

@media only screen and (max-width: 360px) {
  .form {
    padding: 2rem 1.5rem;
    width: 55%;
  }
  .checkbox-cont {
    height: 9rem !important;
  }

  .privacy-policy-container {
    flex-direction: column;
    text-align: center;
  }
  .privacy-policy-container button {
    width: 100% !important;
  }

  .privacy-policy-container .text-privacy-policy {
    width: 100% !important;
  }
}
