.main {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page0 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #61140e;
}
.CoffeClicker {
  width: 35rem;
}
.Header {
  font-size: 5rem;
  font-family: "bs";
}
.subText {
  width: 60%;
  font-size: 1.1rem;
  text-align: center;
}
.EnterBtn {
  width: 10rem;
}



.page1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.countDiv{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: #61140e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 4rem;
}