@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cb";
  src: url('./assets/cb.ttf');
}
@font-face {
  font-family: "rb";
  src: url('./assets/rb.otf');
}

@font-face {
  font-family: "bs";
  src: url('./assets/Berlin Sans FB Demi Bold.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #181818;
}


